button{
    width: 16rem;
    height: 3.5rem;
    color: var(--button-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    border: none;
}

.Buton_Pink{
    background-color: var(--button-pink-bg-color);
}

.Buton_White{
    background-color: var(--button-white-bg-color);
}

.Buton_Pink:hover, .Buton_White:hover{
    background-color: var(--button-hover-bg-color);
}
