button,  .Button_Pink{
    width: 48%;
    height: 3.5rem;
    color: var(--button-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    border: none;
    gap: 1rem;
}

.Button_Pink{
    text-align: center;
    background-color: var(--button-pink-bg-color);
    display: inline-block;
    line-height: 3.5rem; 
}

.Button_White{
    width: 100%;
    background-color: var(--button-white-bg-color);
}

.Button_Pink:hover, .Button_White:hover{
    background-color: var(--button-hover-bg-color);
}

@media screen and (max-width: 1200px) {
    button{
        width: 100%;
    }   
}