footer{
    width: 96.5vw;
    height: 3.5rem;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1.5rem;
}

footer .Footer_Container p{
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text-color);
    text-align: center;
}

#Footer_Social_Media_Box{
    display: none
}

@media screen and (max-width: 900px) {
    footer{
        height: 10rem;
        background-color: var(--base-bg-color);
        padding-bottom: 6rem;

    }

    #Footer_Social_Media_Box{
        display: flex;
        padding-bottom: 1rem;
    }
}